header {
  background-color: #dcd3c9;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.button {
  background-color: white;
  color: #444444;
  padding: 5px 10px;
  text-decoration: none;
}
