body {
  font-family: Inter;
}

#mainImg {
  width: 100%;
}

.search {
  margin: 15vh 0;
}

.top_posts {
  margin: 15vh 0;
}

.top_users {
  margin: 15vh 0;
}

.title {
  background-color: #407ba5;
  margin: auto;
  width: 40%;
  text-align: center;
  position: relative;
  top: -25px;
  height: 50px;
}

.title_text {
  padding: 10px 0;
  font-size: 1.3rem;
  color: whitesmoke;
  font-weight: 300;
  font-style: italic;
}

#navigation_guest {
  display: block;
}
#navigation_registered {
  display: none;
}
.col-sm {
  text-align: -webkit-center;
}

/* Top posts */
.row {
  padding: 1rem 0;
}
.card-img-top {
  height: 12rem;
  width: auto;
  overflow: hidden;
}

/* Top users */
.avatar {
  height: 17rem;
  width: auto;
  overflow: hidden;
}

.toolbar {
  text-align: end;
}

.toolbar_icon {
  width: 3rem;
  margin: 10px;
}

.add {
  width: 2.5rem;
}

.card-icon {
  width: 1rem;
  margin-right: 20px;
  margin-left: 5px;
}
.social_bar {
  margin: 0;
  border-top: solid lightgray 0.1px;
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.social_bar p {
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.card img:hover {
  cursor: pointer;
}
