<div id="addexperience_popup" class="popup">
  <div id="addexperience_popup_content" class="popup_content">
    <span
      class="close_popup_button"
      onclick="togglePopup('addexperience_popup')"
      >×</span
    >
    <h2 class="form_header">Add a new experience</h2>
    <div id="addexperience-inputs">
      <div>
        <label for="ttitle">Title:</label>
        <input type="text" name="title" id="experienceTitle" />
      </div>

      <div>
        <label for="experienceImg">Add images:</label>
        <input type="text" id="imageSrc" name="img" />
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="experienceDesc" cols="46" rows="5"></textarea>
      </div>

      <div id="add_experience_form">
        <button
          id="post_experience_button"
          class="form_btn"
          onclick="addExperience()"
        >
          Post
        </button>
      </div>
    </div>
  </div>
</div>

<div id="create_collection_popup" class="popup">
  <div id="create_collection_popup_content" class="popup_content">
    <span
      class="close_popup_button"
      onclick="togglePopup('create_collection_popup')"
      >×</span
    >
    <h2 class="form_header">Create collection</h2>
    <button id="create_collection_button" class="form_btn">Create</button>
  </div>
</div>
