<div id="addexperience_popup" class="popup">
  <div id="addexperience_popup_content" class="popup_content">
    <span
      class="close_popup_button"
      onclick="togglePopup('addexperience_popup')"
      >×</span
    >
    <h2 class="form_header">Add a new experience</h2>
    <input
      type="text"
      name="title"
      id="experienceTitle"
      placeholder="Add title here"
    />
    <p>Add collaborator here</p>
    <input type="file" id="experienceImg" name="img" accept="image/*" />
    <input
      type="textarea"
      placeholder="Add a description here"
      id="experienceDesc"
    />
    <div id="add_experience_form">
      <button
        id="post_experience_button"
        class="form_btn"
        onclick="addExperience()"
      >
        Post
      </button>
    </div>
  </div>
</div>

<div id="create_collection_popup" class="popup">
  <div id="create_collection_popup_content" class="popup_content">
    <span
      class="close_popup_button"
      onclick="togglePopup('create_collection_popup')"
      >×</span
    >
    <h2 class="form_header">Create collection</h2>

    <button id="create_collection_button" class="form_btn">Create</button>
  </div>
</div>
