<div id="plantrip_page">
  <h1>Plan your own new experience</h1>

  <div class="slidecontainer">
    <p>Budget: 200 €</p>
    <input type="range" min="1" max="100" value="50" />
  </div>

  <div class="interest_filter">
    <p>Filter on your interest:</p>
    <button class="btn"><i class="fa fa-building"></i> City</button>
    <button class="btn"><i class="fa fa-bath"></i> Relax</button>
    <button class="btn"><i class="fa fa-snowflake-o"></i> Skiing</button>
    <button class="btn"><i class="fa fa-sun-o"></i> Beach</button>
    <button class="btn"><i class="fa fa-globe"></i> Adventure</button>
    <button class="btn"><i class="fa fa-pagelines"></i> Nature</button>
    <button class="btn"><i class="fa fa-bicycle"></i> Cycling</button>
    <button class="btn"><i class="fa fa-cutlery"></i> Food</button>
    <button class="btn"><i class="fa fa-child"></i> Children</button>
    <button class="btn"><i class="fa fa-wheelchair"></i> Accessible</button>
  </div>

  <div class="dropdown">
    <p>Filter by continent:</p>
    <button class="btn">Asia</button>
    <button class="btn">Africa</button>
    <button class="btn">Europe</button>
    <button class="btn">Oceania</button>
    <button class="btn">North America</button>
    <button class="btn">South America</button>
  </div>
</div>
