<div class="top_experiences">
  <h1>Most popular posts right now</h1>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/bali.png"
          class="card-img-top"
          alt="..."
          onclick="togglePopup('bali_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            Travel to the beautiful, lush and green rice fields in Asia. The
            nature is spectacular and unique.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like1">432</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart1"
            onclick="like(1)"
          />
          <p class="comment_count">54</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/brazil.jpeg"
          class="card-img-top"
          alt="..."
          onclick="togglePopup('brazil_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            Feel the vibrant city of Rio de Janeiro. Visit the Christ the
            Redeemer statue or Copacabana.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like2">412</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart2"
            onclick="like(2)"
          />
          <p class="comment_count">13</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/capetown.png"
          class="card-img-top"
          alt="Cape town"
          onclick="togglePopup('capetown_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            Take a look at the beautiful colourful buildings in Cuba. The music
            and the art is a must.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like3">372</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart3"
            onclick="like(3)"
          />
          <p class="comment_count">40</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/india.png"
          class="card-img-top"
          alt="India"
          onclick="togglePopup('india_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            The magnificent mausoleum Taj Mahal in India could take the breath
            from any one that visits.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like4">368</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart4"
            alt=""
            onclick="like(4)"
          />
          <p class="comment_count">24</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/sydney.png"
          class="card-img-top"
          alt="Sydney"
          onclick="togglePopup('sydney_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            See the Sydney Opera house and Bondi Beach, or use Sydney as a start
            for a tour of entire Oceanian continent.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like5">350</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart5"
            alt=""
            onclick="like(5)"
          />
          <p class="comment_count">36</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/marrocco.png"
          class="card-img-top"
          alt="Marrocco"
          onclick="togglePopup('marrocco_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            Stroll through the Blue Streets of Chefchaouen, Morocco. Bohemian
            atmosphere and breathtaking beauty.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like6">312</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart6"
            alt=""
            onclick="like(6)"
          />
          <p class="comment_count">18</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/rio_canival.png"
          class="card-img-top"
          alt="Carneval"
          onclick="togglePopup('carneval_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            Join the Carnival of Brazil for its samba music and dance, colorful
            costumes, food festivals, and fun.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like7">309</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart7"
            alt=""
            onclick="like(7)"
          />
          <p class="comment_count">41</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/santorini.jpeg"
          class="card-img-top"
          alt="..."
          onclick="togglePopup('santorini_popup')"
        />
        <div class="card-body">
          <p class="card-text">
            Dream your way to Santorini. Wake up to the view of the
            Mediterranean and enjoy the greek food.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count" id="like8">303</p>
          <img
            class="card-icon"
            src="../images/icons/heart.svg"
            alt="Like post"
            id="heart8"
            alt=""
            onclick="like(8)"
          />
          <p class="comment_count">29</p>
          <img
            class="card-icon"
            src="../images/icons/chat-left-quote.svg"
            alt=""
          />
          <img
            class="card-icon"
            src="../images/icons/share.svg"
            alt="Share to facebook"
            onclick="share()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
