<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>USA</h1>
    <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
    <p>
      We have visited the USA a couple of times. The first time, in 2008, we
      went to Chicago, and some years later we visited the middle of USA,
      California and New York. The United States of America (USA), commonly
      known as the United States (US) or America, is a country primarily located
      in North America. It consists of 50 states, a federal district, five major
      unincorporated territories, 326 Indian reservations, and some minor
      possessions. At 3.8 million square miles (9.8 million square kilometers),
      it is the world's third- or fourth-largest country by total area. The
      United States shares significant land borders with Canada to the north and
      Mexico to the south, as well as limited maritime borders with the Bahamas,
      Cuba, and Russia. With a population of more than 331 million people, it is
      the third most populous country in the world. The national capital is
      Washington, D.C., and the most populous city is New York City.
    </p>
  </div>
</div>
<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>USA</h1>
    <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
    <p>
      We have visited the USA a couple of times. The first time, in 2008, we
      went to Chicago, and some years later we visited the middle of USA,
      California and New York. The United States of America (USA), commonly
      known as the United States (US) or America, is a country primarily located
      in North America. It consists of 50 states, a federal district, five major
      unincorporated territories, 326 Indian reservations, and some minor
      possessions. At 3.8 million square miles (9.8 million square kilometers),
      it is the world's third- or fourth-largest country by total area. The
      United States shares significant land borders with Canada to the north and
      Mexico to the south, as well as limited maritime borders with the Bahamas,
      Cuba, and Russia. With a population of more than 331 million people, it is
      the third most populous country in the world. The national capital is
      Washington, D.C., and the most populous city is New York City.
    </p>
  </div>
</div>
<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>USA</h1>
    <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
    <p>
      We have visited the USA a couple of times. The first time, in 2008, we
      went to Chicago, and some years later we visited the middle of USA,
      California and New York. The United States of America (USA), commonly
      known as the United States (US) or America, is a country primarily located
      in North America. It consists of 50 states, a federal district, five major
      unincorporated territories, 326 Indian reservations, and some minor
      possessions. At 3.8 million square miles (9.8 million square kilometers),
      it is the world's third- or fourth-largest country by total area. The
      United States shares significant land borders with Canada to the north and
      Mexico to the south, as well as limited maritime borders with the Bahamas,
      Cuba, and Russia. With a population of more than 331 million people, it is
      the third most populous country in the world. The national capital is
      Washington, D.C., and the most populous city is New York City.
    </p>
  </div>
</div>
<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>USA</h1>
    <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
    <p>
      We have visited the USA a couple of times. The first time, in 2008, we
      went to Chicago, and some years later we visited the middle of USA,
      California and New York. The United States of America (USA), commonly
      known as the United States (US) or America, is a country primarily located
      in North America. It consists of 50 states, a federal district, five major
      unincorporated territories, 326 Indian reservations, and some minor
      possessions. At 3.8 million square miles (9.8 million square kilometers),
      it is the world's third- or fourth-largest country by total area. The
      United States shares significant land borders with Canada to the north and
      Mexico to the south, as well as limited maritime borders with the Bahamas,
      Cuba, and Russia. With a population of more than 331 million people, it is
      the third most populous country in the world. The national capital is
      Washington, D.C., and the most populous city is New York City.
    </p>
  </div>
</div>
<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>USA</h1>
    <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
    <p>
      We have visited the USA a couple of times. The first time, in 2008, we
      went to Chicago, and some years later we visited the middle of USA,
      California and New York. The United States of America (USA), commonly
      known as the United States (US) or America, is a country primarily located
      in North America. It consists of 50 states, a federal district, five major
      unincorporated territories, 326 Indian reservations, and some minor
      possessions. At 3.8 million square miles (9.8 million square kilometers),
      it is the world's third- or fourth-largest country by total area. The
      United States shares significant land borders with Canada to the north and
      Mexico to the south, as well as limited maritime borders with the Bahamas,
      Cuba, and Russia. With a population of more than 331 million people, it is
      the third most populous country in the world. The national capital is
      Washington, D.C., and the most populous city is New York City.
    </p>
  </div>
</div>
<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>USA</h1>
    <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
    <p>
      We have visited the USA a couple of times. The first time, in 2008, we
      went to Chicago, and some years later we visited the middle of USA,
      California and New York. The United States of America (USA), commonly
      known as the United States (US) or America, is a country primarily located
      in North America. It consists of 50 states, a federal district, five major
      unincorporated territories, 326 Indian reservations, and some minor
      possessions. At 3.8 million square miles (9.8 million square kilometers),
      it is the world's third- or fourth-largest country by total area. The
      United States shares significant land borders with Canada to the north and
      Mexico to the south, as well as limited maritime borders with the Bahamas,
      Cuba, and Russia. With a population of more than 331 million people, it is
      the third most populous country in the world. The national capital is
      Washington, D.C., and the most populous city is New York City.
    </p>
  </div>
</div>
