<div id="bali_modal" class="modal">
  <div id="bali_modal_content" class="modal_content">
    <span class="close" onclick="toggleMapPopup('bali_modal')">×</span>
    <div class="description">
      <h1>USA</h1>
      <img src="images/usa/usa_header.jpg" alt="Usa" class="main_picture" />
      <p>
        We have visited the USA a couple of times. The first time, in 2008, we
        went to Chicago, and some years later we visited the middle of USA,
        California and New York. The United States of America (USA), commonly
        known as the United States (US) or America, is a country primarily
        located in North America. It consists of 50 states, a federal district,
        five major unincorporated territories, 326 Indian reservations, and some
        minor possessions. At 3.8 million square miles (9.8 million square
        kilometers), it is the world's third- or fourth-largest country by total
        area. The United States shares significant land borders with Canada to
        the north and Mexico to the south, as well as limited maritime borders
        with the Bahamas, Cuba, and Russia. With a population of more than 331
        million people, it is the third most populous country in the world. The
        national capital is Washington, D.C., and the most populous city is New
        York City.
      </p>

      <p>
        The US is home to some of the most spectacular scenery in the world and
        some of the most recognizable icons on the planet. Many of the top
        attractions in the United States are bucket list destinations, drawing
        visitors from around the world. Given the size of the United States,
        most people plan their trips to a specific region, be it the East Coast,
        the Southwest, the beaches of Florida or California, or outlying regions
        like Hawaii and Alaska. You may want to see the city sights, or head out
        to the parks and natural areas. In some cases, you can easily combine
        the two if you plan a day trip or two.
      </p>
    </div>
  </div>
</div>
