<div id="top_users">
    <h1 id="popularUserHeader">Most popular users right now</h1>
  <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="../images/avatar_images/a1.png" class="card-img-top avatar" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Travel_with_Scott 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="../images/avatar_images/a2.png" class="card-img-top avatar" alt="..." />
          <div class="card-body">
            <p class="card-text">
              LisaSmith123
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="../images/avatar_images/a3.png" class="card-img-top avatar" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Backpackwithme 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img src="../images/avatar_images/a4.png" class="card-img-top avatar" alt="..." />
          <div class="card-body">
            <p class="card-text">
              NeverStopExploring
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>