<div class="top_experiences">
  <h1>Most popular posts right now</h1>
<div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/bali.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/brazil.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/capetown.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/india.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/sydney.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/marrocco.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/rio_canival.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img src="../images/experience_images/santorini.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make
            up the bulk of the card's content.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="">
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>