<div id="top_experiences">
  <h1 id="popularPostHeader">Most popular posts right now</h1>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/bali.png"
          class="card-img-top"
          alt="..."
          onclick="toggleMapPopup('bali_modal')"
        />
        <div class="card-body">
          <p class="card-text">
            Travel to the beautiful, lush and green rice fields in Asia. The
            nature is spectacular and unique.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">432</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">54</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/brazil.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Feel the vibrant city of Rio de Janeiro. Visit the Christ the
            Redeemer statue or Copacabana.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">412</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">13</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/capetown.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Take a look at the beautiful colourful buildings in Cuba. The music
            and the art is a must.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">372</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">40</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/india.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            The magnificent mausoleum Taj Mahal in India could take the breath
            from any one that visits.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">368</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">24</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/sydney.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            See the Sydney Opera house and Bondi Beach, or use Sydney as a start
            for a tour of Australia.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">350</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">36</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/marrocco.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Stroll through the Blue Streets of Chefchaouen, Morocco. Bohemian
            atmosphere and breathtaking beauty.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">312</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">18</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/rio_canival.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Join the Carnival of Brazil for its samba music and dance, colorful
            costumes, food festivals, and fun.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">309</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">41</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../images/experience_images/santorini.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Dream your way to Santorini. Wake up to the view of the
            Mediterranean and enjoy the greek food.
          </p>
        </div>
        <div class="social_bar">
          <p class="like_count">303</p>
          <img class="card-icon" src="../images/icons/heart.png" alt="" />
          <p class="comment_count">29</p>
          <img class="card-icon" src="../images/icons/comment.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
