<div id="bali_popup" class="popup">
  <div id="bali_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('bali_popup')"
      >×</span
    >
    <h1>Bali, Indonesia</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/bali.png"
      alt="Bali"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
    </p>
    <div class="social_bar">
      <p class="like_count">432</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">54</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="brazil_popup" class="popup">
  <div id="brazil_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('brazil_popup')"
      >×</span
    >
    <h1>Brazil</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/brazil.jpeg"
      alt="Brazil"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
      Donec vestibulum tempor facilisis. Donec nec diam in elit commodo placerat
      ac vitae metus. Proin a accumsan justo. Suspendisse a orci feugiat,
      dignissim sapien mattis, pharetra libero. Mauris sit amet augue in dolor
    </p>
    <div class="social_bar">
      <p class="like_count">412</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">13</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="capetown_popup" class="popup">
  <div id="capetown_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('capetown_popup')"
      >×</span
    >
    <h1>USA</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/capetown.png"
      alt="Cape town"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
      Donec vestibulum tempor facilisis. Donec nec diam in elit commodo placerat
      ac vitae metus. Proin a accumsan justo. Suspendisse a orci feugiat,
    </p>
    <div class="social_bar">
      <p class="like_count">372</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">40</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="india_popup" class="popup">
  <div id="india_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('india_popup')"
      >×</span
    >
    <h1>India</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/india.png"
      alt="India"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
      Donec vestibulum tempor facilisis. Donec nec diam in elit commodo placerat
      ac vitae metus. Proin a accumsan justo. Suspendisse a orci feugiat,
      dignissim sapien mattis, pharetra libero. Mauris sit amet augue in dolor
      blandit ornare eu a arcu. Vivamus at semper nulla. Phasellus augue ipsum,
    </p>
    <div class="social_bar">
      <p class="like_count">368</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">24</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="sydney_popup" class="popup">
  <div id="sydney_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('sydney_popup')"
      >×</span
    >
    <h1>USA</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/sydney.png"
      alt="Sydney"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
    </p>
    <div class="social_bar">
      <p class="like_count">350</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">36</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="marrocco_popup" class="popup">
  <div id="marrocco_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('marrocco_popup')"
      >×</span
    >
    <h1>Marrocco</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/marrocco.png"
      alt="Marrocco"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
      Donec vestibulum tempor facilisis. Donec nec diam in elit commodo placerat
    </p>
    <div class="social_bar">
      <p class="like_count">312</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">18</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="carneval_popup" class="popup">
  <div id="carneval_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('carneval_popup')"
      >×</span
    >
    <h1>Carneval, Rio de Janeiro</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/rio_canival.png"
      alt="Carneval, rio"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
    </p>
    <div class="social_bar">
      <p class="like_count">309</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">41</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
<div id="santorini_popup" class="popup">
  <div id="santorini_popup_content" class="popup_content experience_popup">
    <span class="close_popup_button" onclick="togglePopup('santorini_popup')"
      >×</span
    >
    <h1>Santorini, Greece</h1>
    <p>Author:</p>
    <img
      src="../images/experience_images/santorini.jpeg"
      alt="Santorini"
      class="main_picture"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis
      vitae magna sit amet aliquam. Nulla eu lorem elementum, gravida purus eu,
      suscipit diam. Ut vitae est nec ligula imperdiet tincidunt. Donec
      malesuada odio a ante interdum iaculis. Suspendisse potenti. Sed accumsan,
      mi ac euismod commodo, orci sem dapibus orci, luctus suscipit risus tortor
      eu lectus. Aliquam suscipit nibh quis diam vestibulum, sed ultrices enim
      volutpat. Nulla ut ligula ac urna euismod interdum. Cras vel justo
      ullamcorper, interdum enim quis, viverra enim. Nulla eget odio mauris.
      Pellentesque pretium orci viverra, condimentum sem a, dignissim sapien.
      Donec vestibulum tempor facilisis. Donec nec diam in elit commodo placerat
      ac vitae metus. Proin a accumsan justo. Suspendisse a orci feugiat,
      dignissim sapien mattis, pharetra libero. Mauris sit amet augue in dolor
      blandit ornare eu a arcu. Vivamus at semper nulla. Phasellus augue ipsum,
      egestas sit amet massa eget, rutrum laoreet nulla. Aenean dignissim,
    </p>
    <div class="social_bar">
      <p class="like_count">303</p>
      <img class="card-icon" src="../images/icons/heart.svg" alt="" />
      <p class="comment_count">29</p>
      <img class="card-icon" src="../images/icons/chat-left-quote.svg" alt="" />
      <img class="card-icon" src="../images/icons/share.svg" alt="" />
    </div>
  </div>
</div>
